streamlit
sentence-transformers
pandas
numpy
textblob
scikit-learn
gdown
tensorflow
sentence-transformers==2.2.2
transformers==4.31.0
torch==2.0.0 
scikit-learn
tensorflow
gdown
fuzzywuzzy
